
.wysiwyg-section {
  display: block;
  border: 0;
  border-top: 1px dotted #ccc;
  margin-top: 1em;
  width: 100%;
  height: 12px;
  background: transparent url(images/sectiontext.gif) no-repeat center top;
}
